@using Website.Models.DbDto;
<section class="main-like">
    <div class="container">
        @{ 
            var recommendations = Model as List<BookInfo>;
            if (recommendations != null)
            {
        <div class="like_content">
            <h2 class="like_header text-header">You might also enjoy</h2>
            <div class="like_inner">
                @foreach (var book in recommendations)
                {
                <div class="like_info">
                    <div class="img-box">
                        <img src="@book.Image_URL_M" alt="@book.Title">
                        <img class="main_list-background" src="/img/footer-logo.png" alt="backgroung-logo">
                        <p class="cart">Add to cart</p>
                    </div>
                    <div class="like_info-inner">
                        <h3 class="info_title i-title">@book.Title</h3>
                        <p class="info_name i-name">@book.Author</p>
                        <p class="info_price i-price">$@book.Price</p>
                    </div>
                </div>
                }
            </div>
            <hr>
            <div class="like-circle">
                <div class="like_slider-arrows">
                    <a class="like_slider-arrows slider-prev" href="">
                        <svg width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.46271 14.0059L7.8174 12.5916L3.69655 8.38508L23 8.38508L23 6.41942L3.69655 6.41942L7.81644 2.21195L6.46271 0.798641L0 7.40225L6.46271 14.0059Z" fill="#393280" />
                        </svg>
                    </a>
                    <a class="like_slider-arrows slider-next" href="">
                        <svg width="23" height="15" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.5373 0.744385L15.1826 2.15867L19.3035 6.36517H0V8.33082H19.3035L15.1836 12.5383L16.5373 13.9516L23 7.34799L16.5373 0.744385Z" fill="#393280" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

                }
            else
            {

            }
            }
    </div>
</section>
