<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./img/footer-logo.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="./css/author-page.css">
  <title> Authors-page </title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header_nav">
        <ul class="header_nav-lists">
          <li class="header_nav-item"><a class="header_nav-link text-nav" href="./main-page.html"
              target="_self">Home</a></li>
          <span class="stick_header text-nav"> | </span>
          <li class="header_nav-item"><a class="header_nav-link text-nav" href="./book-info.html"
              target="_parent">Book</a></li>
          <span class="stick_header text-nav"> | </span>
          <li class="header_nav-item"><a class="header_nav-link text-nav authors_header-link" href="#">Authors</a></li>
          <span class="stick_header text-nav"> | </span>
          <li class="header_nav-item"><a class="header_nav-link text-nav" href="#" target="_self">About us</a></li>
          <span class="stick_header text-nav"> | </span>
          <li class="header_nav-item"><a class="header_nav-link text-nav contact_header-link" href="#"
              target="_self">Contact</a></li>
        </ul>
      </div>
    </header>
    <main>
      <section class="about-like">
        <div class="container">
          <div class="like_content">
            <h2 class="like_header text-header">You might also enjoy</h2>
            <div class="like_inner">
              <div class="like_info">
                <div class="img-box">
                  <img src="http://images.amazon.com/images/P/0345424719.01.MZZZZZZZ.jpg" alt="book1">
                  <img class="main_list-background" src="./img/footer-logo.png" alt="backgroung-logo">
                  <p class="cart">Add to cart</p>
                </div>
                <div class="like_info-inner">
                  <h3 class="info_title i-title">A Widow for One Year</h3>
                  <p class="info_name i-name">JOHN IRVING</p>
                  <p class="info_price i-price">40.00$</p>
                </div>
              </div>
              <div class="like_info">
                <div class="img-box">
                  <img src="http://images.amazon.com/images/P/1877727083.01.MZZZZZZZ.jpg" alt="book2">
                  <img class="main_list-background" src="./img/footer-logo.png" alt="backgroung-logo">
                  <p class="cart">Add to cart</p>
                </div>
                <div class="like_info-inner">
                  <h3 class="info_title i-title">Recent Poems</h3>
                  <p class="info_name i-name">Roberto Juarroz</p>
                  <p class="info_price i-price">55.00$</p>
                </div>
              </div>
              <div class="like_info">
                <div class="img-box">
                  <img src="http://images.amazon.com/images/P/8483002523.01.MZZZZZZZ.jpg" alt="book3">
                  <img class="main_list-background" src="./img/footer-logo.png" alt="backgroung-logo">
                  <p class="cart">Add to cart</p>
                </div>
                <div class="like_info-inner">
                  <h3 class="info_title i-title">La mirada del tafur</h3>
                  <p class="info_name i-name">Ferran Torrent</p>
                  <p class="info_price i-price">20.00$</p>
                </div>
              </div>
              <div class="like_info">
                <div class="img-box">
                  <img src="http://images.amazon.com/images/P/0345335465.01.MZZZZZZZ.jpg" alt="book4">
                  <img class="main_list-background" src="./img/footer-logo.png" alt="backgroung-logo">
                  <p class="cart">Add to cart</p>
                </div>
                <div class="like_info-inner">
                  <h3 class="info_title i-title">Dragonriders of Pern</h3>
                  <p class="info_name i-name">Anne McCaffrey</p>
                  <p class="info_price i-price">30.00$</p>
                </div>
              </div>
              <div class="like_info">
                <div class="img-box">
                  <img src="http://images.amazon.com/images/P/0515118656.01.MZZZZZZZ.jpg" alt="ex5">
                  <img class="main_list-background" src="./img/footer-logo.png" alt="backgroung-logo">
                  <p class="cart">Add to cart</p>
                </div>
                <div class="like_info-inner">
                  <h3 class="info_title i-title last">The Cove</h3>
                  <p class="info_name i-name lname">Catherine Coulter</p>
                  <p class="info_price i-price">49.00$</p>
                </div>
              </div>
              <div class="like_info">
                <div class="img-box">
                  <img src="http://images.amazon.com/images/P/0385490992.01.MZZZZZZZ.jpg" alt="book6">
                  <img class="main_list-background" src="./img/footer-logo.png" alt="backgroung-logo">
                  <p class="cart">Add to cart</p>
                </div>
                <div class="like_info-inner">
                  <h3 class="info_title i-title">The Street Lawyer</h3>
                  <p class="info_name i-name">John Grisham</p>
                  <p class="info_price i-price">35.00$</p>
                </div>
              </div>
              <div class="like_info">
                <div class="img-box">
                  <img src="http://images.amazon.com/images/P/0811203220.01.MZZZZZZZ.jpg" alt="book7">
                  <img class="main_list-background" src="./img/footer-logo.png" alt="backgroung-logo">
                  <p class="cart">Add to cart</p>
                </div>
                <div class="like_info-inner">
                  <h3 class="info_title i-title">Still the Humming bird</h3>
                  <p class="info_name i-name">Henry Miller</p>
                  <p class="info_price i-price">60.00$</p>
                </div>
              </div>
              <div class="like_info">
                <div class="img-box">
                  <img src="http://images.amazon.com/images/P/0385337639.01.MZZZZZZZ.jpg" alt="book8">
                  <img class="main_list-background" src="./img/footer-logo.png" alt="backgroung-logo">
                  <p class="cart">Add to cart</p>
                </div>
                <div class="like_info-inner">
                  <h3 class="info_title i-title">Crow Lake (Book Club)</h3>
                  <p class="info_name i-name">Mary Lawson</p>
                  <p class="info_price i-price">24.99$</p>
                </div>
              </div>
              <div class="like_info">
                <div class="img-box">
                  <img src="http://images.amazon.com/images/P/0330332775.01.MZZZZZZZ.jpg" alt="book9">
                  <img class="main_list-background" src="./img/footer-logo.png" alt="backgroung-logo">
                  <p class="cart">Add to cart</p>
                </div>
                <div class="like_info-inner">
                  <h3 class="info_title i-title">Pride and Prejudice</h3>
                  <p class="info_name i-name">Jane Austen</p>
                  <p class="info_price i-price">49.99$</p>
                </div>
              </div>
              <div class="like_info">
                <div class="img-box">
                  <img src="http://images.amazon.com/images/P/0345404793.01.MZZZZZZZ.jpg" alt="book10">
                  <img class="main_list-background" src="./img/footer-logo.png" alt="backgroung-logo">
                  <p class="cart">Add to cart</p>
                </div>
                <div class="like_info-inner">
                  <h3 class="info_title i-title">Protect and Defend</h3>
                  <p class="info_name i-name">Richard North Patterson</p>
                  <p class="info_price i-price">38.99$</p>
                </div>
              </div>
            </div>
            <hr>
            <div class="like-circle">
              <div class="like_slider-arrows">
                <a class="like_slider-arrows slider-prev" href="">
                  <svg width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M6.46271 14.0059L7.8174 12.5916L3.69655 8.38508L23 8.38508L23 6.41942L3.69655 6.41942L7.81644 2.21195L6.46271 0.798641L0 7.40225L6.46271 14.0059Z"
                      fill="#393280" />
                  </svg>
                </a>
                <a class="like_slider-arrows slider-next" href="">
                  <svg width="23" height="15" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M16.5373 0.744385L15.1826 2.15867L19.3035 6.36517H0V8.33082H19.3035L15.1836 12.5383L16.5373 13.9516L23 7.34799L16.5373 0.744385Z"
                      fill="#393280" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer_inner">
          <div class="first_col">
            <div class="first_inner">
              <div class="footer_logo">
                <img src="./img/footer-logo.png" alt="logo">
              </div>
              <p class="logo_text"> Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <ul class="footer_links">
                <li class="footer_items"><a class="footer_socials-link" href="#"> <img src="./img/facebook.png"
                      alt="facebook">
                  </a></li>
                <li class="footer_items"><a class="footer_socials-link" href="#"> <img src="./img/linkedin.png"
                      alt="linkedin">
                  </a></li>
                <li class="footer_items"><a class="footer_socials-link" href="#"> <img src="./img/twitter.png"
                      alt="twitter">
                  </a></li>
                <li class="footer_items"><a class="footer_socials-link" href="#"> <img src="./img/youtube.png"
                      alt="youtube">
                  </a></li>
              </ul>
            </div>
          </div>
          <div class="second_col">
            <div class="second_inner">
              <h2 class="company_name">Company</h2>
              <ul class="footer_second-list">
                <li class="footer_second-item"><a class="footer_item-link sefooter" href="./main-page.html"
                    target="_blank">HOME</a></li>
                <li class="footer_second-item"><a class="footer_item-link sefooter" href="./book-info.html"
                    target="_parent">BLOG</a></li>
                <li class="footer_second-item"><a class="footer_item-link sefooter" href="#">AUTHORS</a></li>
                <li class="footer_second-item"><a class="footer_item-link sefooter" href="#">ABOUT US</a></li>
                <li class="footer_second-item"><a class="footer_item-link sefooter" href="#">CONTACT</a></li>
              </ul>
            </div>
          </div>
          <div class="third_col">
            <div class="third_inner">
              <h2 class="company_name">Important Links</h2>
              <ul class="footer_third-list">
                <li class="footer_third-item"><a class="footer_item-link" href="#">Privacy Policy</a></li>
                <li class="footer_third-item"><a class="footer_item-link" href="#">FAQs</a></li>
                <li class="footer_third-item"><a class="footer_item-link" href="#">Terms of Service</a></li>
              </ul>
            </div>
          </div>
          <div class="go_top">
            <p><a class="top company_name" href="#">Go TO Top &#8963;</a></p>
          </div>
        </div>
        <div class="footer_end">
          <p class="footer_end-text">© 2023 Slash Inc. All rights reserved.</p>
          <p class="footer_end-text2">Privacy | Terms of Service</p>
        </div>
      </div>
    </footer>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
    integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="./js/author-page.js"></script>
</body>

</html>